.nameDiv {
    background-color: #DEFAFF;
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
}

#usernameDiv {
    font-size: 13px;
    font-family: "Amazon Ember",Arial,sans-serif;
    margin-top: -4px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-top: 5px;

}

#profilePicture {
    height:34px;
    width: 34px;

}

.picAndName {
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-left: 250px;
}

#editRev {
    font-size: 24px;
    font-family: "Amazon Ember",Arial,sans-serif;
    padding-top: 33px;
    padding-bottom: 16px;
}

#formEdit {
    margin-left: 350px;
    margin-right: 350px;

}

.picInfo {
    display: flex;
    /* border-bottom: 1px solid #E7E7E7; */
}

#editProductPic {
    height: 62px;
    width: 62px;
}

#editProductName {
    font-size: 14px;
    font-family: "Amazon Ember",Arial,sans-serif;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
}

#line {
    color: green;
}

#overall, #headline, #editReview {
    font-size: 18px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.submitEditDiv {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-top: 10px;

}

#submitEditBtn {
    background-color: #F7CA01;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 7px 10px 7px 11px;

}

#headlineInput {
    width: 100%;
    height: 23px;
    border-radius: 3px;
    border: solid 1px black;
}

#detailsInput {
    width: 100%;
    height: 23px;
    border-radius: 3px;
    border: solid 1px black;

}
