.footerDiv {
    bottom: 0;
    /* background-color: #232F3E; */
}

.top {
    width: 100%;
    color: white;
    background-color: #475769;
    display: flex;
    justify-content: center;
    cursor:pointer;
    padding: 15px 0px;
    font-size: 13px;
    font-family: Arial,sans-serif;;
}

.bottom {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: #232F3E;
    width: 100%;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3a4553;
}

#head {
    font-weight: 700;
    font-family: Arial,sans-serif;
    margin: 6px 0 14px 0;
    font-size:15px;
}

#amazonLogo {
    height: 120px;

}

.logo {
    background-color: #232F3E;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.linksToFooter p {
    font-size: 12px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:#475768
}

.copyRight {
    font-size: 12px;
    font-family: "Amazon Ember",Arial,sans-serif;
    color: white;
    padding-bottom: 30px;
}
