#homePic {
    height: 100%;
    width: 90%;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    margin-top: 50px;
    display: flex;
    align-content: center;
}

.banner {
    display: flex;
    /* justify-content: center; */
    align-content: center;
    /* background: linear-gradient(rgba(251,182,144,1) 0%, rgba(255,255,255,1) 100%); */
}

.categoryTitle {
    display: flex;
    /* justify-content: center; */
    /* text-decoration: underline; */
}

.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-items: center;
    gap: 55px;
    margin-bottom: 10px;
}

.sports {
    grid-column: 1;
    grid-row: 1;
}

.sports, .books, .games, .computers, .cellPhones, .clothing {
    height: 420px;
    max-width: 400px;
    width: 100%;
    background-color: #F7FCFD;
}

.mysteryDiv img {
    border: solid 1px black;
}
.sportsTitle, .booksTitle, .gamesTitle, .computersTitle, .cellPhoneTitle, .clothingTitle {
    font-size: 21px;
    font-weight: bolder;
    font-family: sans-serif;
    /* height: 100%; */
    width: 100%;
    margin: 20px 20px;
}

.sportsPics, .booksPics, .gamesPics, .computersPics, .cellPhonePics, .clothingPics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    width:90%;
    height: 400px;
    /* max-width: 100%;
    max-height: 100%; */
}

.sportsPics *, .booksPics *, .gamesPics *, .cellPhonePics *, .computersPics *, .clothingPics * {
    height: 150px;
    width: 100px;
    cursor: pointer;
}

#exploreBooks {
    font-size: 24px;
    color: black;
    margin-left: 72px;
}

#topPicks {
    font-size: 24px;
}

.bookBorder {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryList img, .categoryListTwo img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}



.categoryList, .categoryListTwo {
    display: flex;
    justify-content: space-around;
    border-left: solid 2px #D3D3D3;
    /* cursor:pointer; */
}

#categoryName {
    font-size: 12px;
}

.fantasyName, .sciFiName, .mysteryName, .horrorName, .biographyName, .childrensName, .mangaName, .litFictionName, .historyName, .cookbookName, .actionName, .poetryName {
    display: flex;
    justify-content: center;
    /* cursor: pointer; */
}

.fantasyName > h3, .sciFiName > h3, .mysteryName > h3, .horrorName > h3, .biographyName > h3, .childrensName > h3, .mangaName > h3, .litFictionName > h3, .historyName > h3, .cookbookName > h3, .actionName > h3, .poetryName > h3 {
    /* display: flex;
    justify-content: center; */
    color: black;
    text-decoration: none;
    /* cursor: pointer; */
}


.fantasyDiv, .sciFiDiv, .mysteryDiv, .horrorDiv, .biographyDiv, .childrensDiv, .mangaDiv, .litFictionDiv, .historyDiv, .cookbookDiv, .actionDiv, .poetryDiv {
    cursor:pointer;
    /* width: 500px; */
}

/* .fantasyDiv:hover {
    cursor: pointer;
} */

.categoryList > div, .categoryListTwo > div {
    /* height: 100px;
    width: 100px;
    border-radius: 50%; */
    cursor: pointer;
}

#navLink {
    text-decoration: none;
}

#navLink:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.bodyPage {
    display: flex;
    margin-top: 10px;

}

.nextToSide {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: 10px; */
    /* width:min-content; */
    /* background-color: grey; */
    /* border-left: solid 1px black; */
}

.bookTitle:hover {
    color: #C7511F;
}

#booksAt {
    display: flex;
    justify-content: center;
    color: #6A6A6A;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 40px;
}

#topBannerPic {
    width: 100%;
}

.topBanner {
    margin-top: 10px
}

.bottomBanner {
    width: 100%;
    display:inline-block;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    overflow:auto;
    height: 30%;
    /* height: fit-content; */
}

.bottomBanner img {
    min-width: 100px;
    max-width: 350px;
    /* width:100%;
    height: 100%; */
    /* margin-left: 5px; */
}
