.logos {
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    height: 100%;
    align-items: center;
    width: 100%;
}

.linkFooter {
    background-color: #475769;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: "Amazon Ember",Arial,sans-serif;
    color: white;
    padding-bottom: 10px;
}
