#logo {
    height: 80px;
}

nav > div {
    display: flex;
}

.navBar {
    background-color: #232F3F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    max-height: 88px;
}

#navOptions {
    color: white;
    text-decoration: none;
}

#navOptions:hover {
    /* border: 1px solid white; */
}

.amznLogo {
    display: flex;
    align-items: center;
}

.rightSide {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

.search {
    width: 100%;
    max-width: 863px;
    min-width: 863px;
    border-radius: 10px;
    font-size: 15px;
    height: 34px;
    padding: 3px;
}

.searchBar {
    display: inline-flex;
    width: 890px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    /* padding: 15px; */
}

#searchBtn {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-left: -10px;
    margin-top: 2px;
    /* padding-right: -30px; */
    /* z-index: 4; */
    /* position: absolute; */
    justify-self: end;
}

input:focus {
    border: color #FF9900;
}

/* .helloUserDiv {
    margin-right: 5px;
    display: flex;
    align-items:center;
} */

.order {
    margin-right: 5px;
    /* display: flex;
    align-items:center; */
}

.logoutBtn, .demoBtn {
    display: flex;
    align-items:center;
}

.logoutBtn {
    cursor: pointer;
}

.logoutBtn > button, .demoBtn > button {
    color: white;
    text-decoration: none;
    background-color: #232F3F;
    border: none;
    font-size: 16px;
}
.cart, .helloUserDiv, .greeting{
    margin-right: 5px;
    display: flex;
    justify-content:center;
    align-items: center;

}

.rightSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-evenly;
    /* padding-left: 9 0px; */
}

.order {
    display: flex;
    flex-direction: column;
}

.rightSide > {
    margin-right: 15px;
}

.delivery {
    /* color: white; */
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */

}

.deliveryName {
    color:#ccc
}

#locationIcon {
    height: 20px;
    width: 20px;
}

.deliveryBoxOne {
    display: flex;

}

.amazonLogoDiv:hover {
    padding: -3px;
}

.delivery:hover, .loginBtn:hover, .signUpBtn:hover, .order:hover, .cart:hover, .amazonLogoDiv:hover, .logoutBtn:hover, .helloUserDiv:hover {
    border: solid 1px white;
    border-radius: 5%;
    cursor: pointer;
}

.delivery, .loginBtn, .signUpBtn, .order, .cart, .amazonLogoDiv, .logoutBtn, .helloUserDiv {
    /* padding: 5px; */
}

.amazonLogoDiv {
    margin: 4px;
}

.signUpBtn {
    margin-left: 10px;
}

.order, .cart, .helloUserDiv {
    margin-right: 10px;
    text-decoration: none;
    height: 70px;
    width: 70px;
}

.loginBtn, .signUpBtn, .demoBtn {
    height: 70px;
    width: 70px;
}

.loginBtn, .signUpBtn, .demoBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#optionsReturn {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.deliveryBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.deliveryIcon {
    height: 100%;
    /* width: 100px; */
    display: flex;
    /* justify-content: flex-end; */
    margin-right: 5px;
}

.deliveryName {

}

.searchResults {
    position: absolute;
    top: 62px;
    height: 350px;
    width: 56%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 7px 10px;
    margin-left: 15px;
}

#term {
    color: black;
    text-decoration: none;
    font-size: 16px;
    /* font-weight: bolder; */
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Amazon Ember",Arial,sans-serif;
}

#term:hover {
    background-color: #EEEEEE
}

.searchResultList {
    display: flex;
    flex-direction: column;
}


/* #listSearch {
    display:block;
    height: 200px;
    width: 200px;
    top: 50px;
} */
