#logo {
    height: 80px;
}

nav > div {
    display: flex;
}

.navBar {
    background-color: #232F3F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

#navOptions {
    color: white;
}

.rightSide {
    display: flex;
}

.search {
    width: 500px;
    border-radius: 50px;
    font-size: 15px;
}

.searchBar {
    display: flex;

}

#searchBtn {
    height: 40px;
    width: 40px;
}

input:focus {
    border: color #FF9900;
}

.greeting {
    margin-right: 5px;
}

.order {
    margin-right: 5px;
}

.cart {
    margin-right: 5px;
}

.rightSide {
    display: flex;
    flex-direction: row;
}

.order {
    display: flex;
    flex-direction: column;
}

.rightSide > {
    margin-right: 15px;
}
