#logo {
    height: 80px;
}

nav > div {
    display: flex;
}

.navBar {
    background-color: #232F3F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

#navOptions {
    color: white;
}

.rightSide {
    display: flex;
}

.search {
    width: 500px;
}
