.product {
    display: flex;
    flex: 2fr 2fr 1fr;
    margin-top: 50px;
}

html {
    background-color: #FFFFFF;
    left: 200px;
}

.product, .reviews {
    margin-left: 200px;
    margin-right: 200px;
}

.price {
    float: right;
    width: 400px;
    border: 5px solid #E5E5E5;
    border-radius: 5px;
    padding:0px 10px;
    /* height: 850px; */
    /* margin-left: 20px; */
}

#price {
    color: #B12704;
    font-size: 18px;
}

#cartAdd {
    background-color: #FFA41D;
}

#buy {
    background-color: #FA8900;
}

.productDetails * {
    font-size: 24px;
    font-weight: 400;
}

#prodImage {
    height: 50%;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#stock {
    color: #007600;
    font-size: 14px;
}

.stars {
    display: flex;
}

#starTitle {
    margin-right: 14px;
    color: #007185;
    font-size: 14px;
}

.rating5, .rating4, .rating3, .rating2, .rating1 {
    overflow: hidden;
    box-shadow: inset 0 0 0 1px #e3e6e6;
    background-color: #F0F2F2;
    height: 20px;
    width: 200px;
}

.five, .four, .three, .two, .one {
    display: flex;
    align-items: center;
}

.reviews {
    display: flex;
}

#productName {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

#author {
    font-size: 8px;
    display: flex;
}

#by {
    font-size: 14px;
}

#onlyName {
    color: #007185;
    font-size: 14px;
}

.ratingStars * {
    color: orange;
    width: 20%;
    /* width: 30px;
    height: 30px; */
}
.ratingStars {
    display: flex;
    align-items: center;
}

#amountRatings {
    color: #007185;
    font-size: 14px;
    display: flex;
    align-content: center;
}

.priceDiv {
    display: flex;
    justify-content: flex-end;
}

.cartBtns {
    display: flex;
    flex-direction: column;
}
