#categoryShop, #bestdeals, #customerRating {
    font-size: 14px;
    font-weight: bolder;
    margin-left: 20px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.sideBarList h3, .dealsList h3 {
    font-size: 11px;
    margin-left: 30px;
    cursor: pointer;
    font-family: "Amazon Ember",Arial,sans-serif;
    color: black;
    text-decoration: none;
}

.sideBarList h3:hover, .dealsList h3:hover {
    color: #C35600;
    text-decoration: none;

}

.sideBar {
    min-width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    border-right: 2px solid #D3D3D3;
    border-top: 2px solid #D3D3D3;

}

.ratingsList {
    margin-left: 30px;
}

.fourplus, .threeplus, .twoplus, .oneplus {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fourplus:hover, .threeplus:hover, .twoplus:hover, .oneplus:hover {
    color: #C35600;
}

#andUp {
    font-size: 12px;
    font-family: "Amazon Ember",Arial,sans-serif;
    margin-left: 3px;
}

#navLink {
    text-decoration: none;
    color: black;

}

#navLink:hover {
    text-decoration: none;
}
