/* TODO Add site wide styles */
body {
    margin: 0;
}

html {
    margin: 0;
    background-color: #EAEDED;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
