.fullFormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#signUpLogo {
    height: 61px;
    width: 133px;
}

.signUpFormDiv {

}

.emailInput, .passwordInput {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#nameLabel, #userLabel, #emailLabel, #passwordLabel, #reEnterLabel {
    font-size: 13px;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-weight: bolder;
    padding-bottom: 4px;
}

#nameInputTag, #userInputTag, #emailInputTag, #passwordInputTag, #repeatInputTag {
    height: 31px;
    width: 312px;
}

.topHalf {
    border: 1px solid #E6E1E1;
    padding: 15px 25px 5px 25px;
}

#amazonNew {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #E7E7E7;
    line-height: 0.1em;
    margin: 10px 0 20px;
 }

 #amazonNew span {
     background:#fff;
     padding:0 10px;
 }

#conditions {
    font-size: 22px;
    font-family: "Amazon Ember",Arial,sans-serif;
    margin-left: 49px;
}

.conditionsDiv {
    margin-left: -49px;
}
#signInDirect{
    font-size: 13px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.signInDirectDiv {
    display: flex;
}

#signInLink {
    color:#5B95D2
}

hr {
    border:none;
    border-top:1px solid black;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:50%;
}

.footerLinks {
    display: flex;
}

.footerLinks * {
    color:#5B95D2;
    font-size: 12px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

#copyright {
    color: #555555;
    font-size: 11px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.bottomHalfSignIn {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    height: 235px;
    position:relative;
    bottom: 0;
    margin-top: 28px;
    overflow:hidden;

}

#conditionUse, #privacyNotice {
    margin-right: 19px;
}


#createAccount {
    font-size: 28px;
    font-family: "Amazon Ember",Arial,sans-serif;
    cursor: pointer;
}

#loginBtn {
    background-image: linear-gradient(#f7dfa5, #f0c14b);
    width: 100%;
    border: none;
    padding: 8px 13px;
    margin-top: 14px;
    border-radius: 5px;
    cursor: pointer;
}

#loginErrors {
    color: red;
}

#conditionSpan, #privacySpan {
    color:#5B95D2;
    cursor: pointer;
}

#conditionSpan:hover, #privacySpan:hover, #signInLink:hover, #conditionUse:hover, #privacyNotice:hover, #helpLink:hover {
    color:#D78F67;
    text-decoration: underline;
}

#conditionSpan, #privacySpan, #signInLink, #conditionUse, #privacyNotice, #helpLink {
    cursor: pointer;
    text-decoration: none;
}

.createLinkDiv {
    margin-left: 37%;
    margin-right: 37%;
}

#newToAmazon {
    font-size: 12px;
    font-family: "Amazon Ember",Arial,sans-serif;
    color: #767676;
}

.createNewAcc {
    display: flex;
    justify-content: center;

}

#createAccBtn {
    width: 372px;
    font-family: "Amazon Ember",Arial,sans-serif;
    padding: 6px 11px;
    cursor: pointer;
    border: none;
    border: solid 1px #A2A6AB;
    border-radius: 3px;

}

.fullPage {
    overflow:hidden;
}

#loginBtn:hover {
    background-image: linear-gradient(#F2CB71, #F2CB71);
}
