.fullFormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    /* position: absolute; */
    /* height: 100%; */
}

#signUpLogo {
    height: 61px;
    width: 133px;
}

.signUpFormDiv {

}

.emailInput, .passwordInput {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    /* height: 31px;
    width: 312px; */
}

#nameLabel, #userLabel, #emailLabel, #passwordLabel, #reEnterLabel {
    font-size: 13px;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-weight: bolder;
    padding-bottom: 4px;
}

#nameInputTag, #userInputTag, #emailInputTag, #passwordInputTag, #repeatInputTag {
    height: 31px;
    width: 312px;
}

.topHalf {
    border: 1px solid #E6E1E1;
    padding: 15px 25px 5px 25px;
}

#amazonNew {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #E7E7E7;
    line-height: 0.1em;
    margin: 10px 0 20px;
 }

 #amazonNew span {
     background:#fff;
     padding:0 10px;
 }

#conditions {
    font-size: 22px;
    font-family: "Amazon Ember",Arial,sans-serif;
    margin-left: 49px;
}

.conditionsDiv {
    margin-left: -49px;
}
#signInDirect{
    font-size: 13px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.signInDirectDiv {
    display: flex;
    /* padding: 10px; */
    /* margin-left: -20px; */
}

#signInLink {
    color:#5B95D2
}

hr {
    border:none;
    border-top:1px solid black;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:50%;
}

.fullFormDiv {
    /* border: solid 1px black; */
}

.footerLinks {
    display: flex;
    /* fle */
}

.footerLinks * {
    color:#5B95D2;
    font-size: 12px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

#copyright {
    color: #555555;
    font-size: 11px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.bottomHalf {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    /* position: absolute; */
    height: 435px;
    position:relative;
    bottom: 0;
    margin-top: 28px;
}

#conditionUse, #privacyNotice {
    margin-right: 19px;
}

/* .fullPage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
} */


#createAccount {
    font-size: 28px;
    font-family: "Amazon Ember",Arial,sans-serif;
    cursor: pointer;
}

#loginBtn {
    background-image: linear-gradient(#f7dfa5, #f0c14b);
    width: 100%;
    border: none;
    padding: 8px 13px;
    margin-top: 14px;
    border-radius: 5px;
    cursor: pointer;
}

#loginBtn:hover {
    opacity: 90%;
}

#conditionSpan, #privacySpan {
    color:#5B95D2;
    cursor: pointer;
}

#conditionSpan:hover, #privacySpan:hover, #signInLink:hover, #conditionUse:hover, #privacyNotice:hover, #helpLink:hover {
    color:#D78F67;
    text-decoration: underline;
}

#conditionSpan, #privacySpan, #signInLink, #conditionUse, #privacyNotice, #helpLink {
    cursor: pointer;
    text-decoration: none;
}

.createLinkDiv {
    /* display: flex;
    justify-content: center; */
    /* width: 50%; */
    margin-left: 37%;
    margin-right: 37%;
}

#newToAmazon {
    /* line-height: 1; */
    font-size: 12px;
    font-family: "Amazon Ember",Arial,sans-serif;
    color: #767676;

    /* font-weight: 400; */
    /* z-index: 2; */
    /* position: relative; */
    /* display: inline-block; */
    /* background-color: #fff; */
    /* padding: 0 8px 0 7px; */
}

.createNewAcc {
    display: flex;
    justify-content: center;
    /* padding-bottom: 28px; */
    /* position: absolute; */
    /* width: 374px; */

}

#createNewBtn:hover {
    background-color: #DDE0E5;
}

#createAccBtn {
    width: 372px;
    font-family: "Amazon Ember",Arial,sans-serif;
    /* height: 322px; */
    padding: 6px 11px;
    cursor: pointer;
    border: none;
    border: solid 1px #A2A6AB;
    border-radius: 3px;

}
